language: go

sudo: false

go:
    - master

before_install:
    - go get github.com/mattn/goveralls

script:
    - GOOS=darwin go build
    - GOOS=windows go build
    - GOOS=linux go build
    - $HOME/gopath/bin/goveralls -service=travis-ci